@model MyLibraryProject.Models.Book

@{ 
    ViewBag.Title = "BookDetail";
}

<h1>@Model.Title</h1>
<p>@Model.Author</p>
<p>On Shelf? @Model.OnShelf</p>

<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color pt-4 ml-lg-5">
            <a href="@Url.Action("AllTheBooks")" class="btn btn-warning btn-lg">
                <span class="glyphicon glyphicon-remove"></span> Back to All the Books
            </a>
        </div>
    }
</div>
