@model MyLibraryProject.Models.Book

@{
    ViewBag.Title = "BookDetail";
}

<h1>@Model.Title</h1>
<p>@Model.Author.FirstName @Model.Author.LastName</p>
<p>On Shelf? @Model.OnShelf</p>
<p>Rating: @Model.Rating/5</p>
<p>Description:</p>
<p>@Model.Description</p>


<div>
    @using (Html.BeginForm())
    {
        <div class="form-actions no-color pt-4 ml-lg-5">
            <a href="@Url.Action("AllTheBooks")" class="btn btn-primary btn-lg">
                Back to All the Books
            </a>
        </div>
    }
</div>
